/scripts/k1_rom_singlecycle/
/scripts/samples
/scripts/diff.txt
/scripts/fursound_test*
/scripts/FurSound2.py
/scripts/mk1*
/scripts/output*
/scripts/rombass
/scripts/pa decoder 1.9.bin
/scripts/~*
/scripts/k1_rom_waves/
/scripts/localtests/
